.table-search {
 
  padding: 10px 30px;
  border: 2px solid #888;
}

.table-search_1 {
  width: 100%;
  height: 260px;
  font-size: 30px;
 
  flex: 1;
}
.table-search_1 button {
  font-size: 25px;
  padding: 5px 10px;
  margin: 20px;
}
.table-search_1 button:hover {
  cursor: pointer;
  background: #a73e3e;
}
.table-search table th,.table-search table,
.table-search td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
.table-search tr {
  border-bottom: 2px solid #ddd;
}
.table-search_1 table,.table-search_1 table th,.table-search_1 table td {
  border: 1px solid black;
  border-collapse: collapse;
}
.qlpm-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
