

.side-nav h2 {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 15px;
  border-bottom: 3px solid #0951ae;
}
li {
  margin: 15px 10px;
  padding: 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-direction: row;
}

li:hover {
  background: linear-gradient(35deg, #4752a9, #6cc1db);
  cursor: pointer;
}
.side-nav a:hover {
  color: #fff;
  font-weight: 500;
}
nav {
  width: max-content;
  min-width: 300px;
  height: 100vh;
  border-right: 5px solid #351663;
  border-top: 2px solid #090909;
}
nav ul {
  padding-top: 20px;
  list-style: none;
}
.side-nav a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}

.admin-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}
main {
  width: 100%;
}
