

.side-nav h2 {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(198, 208, 218, 0.3);
  text-shadow: 0px 0px 15px #15077f

}

.admin-container li {
  margin: 15px 10px;
  padding: 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-direction: row;
 transition: .5s;
}

.admin-container li:hover {
  background: linear-gradient(35deg, #47475f, #2c2f5e);
  cursor: pointer;
  transform: translateY(-5px);
  
}


.admin-container .side-nav a:hover {
  font-size: 22px;
  font-weight: 500;
transition: .5s;

}

.admin-container nav {
  width: max-content;
  min-width: 350px;
  height: 100vh;
  border-right: 2px solid rgba(198, 208, 218, 0.3);

border-radius: 10px;
}

.admin-container nav ul {
  padding-top: 20px;
  list-style: none;
}

.admin-container .side-nav a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  color: #fff;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.admin-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.admin-container .route {
  width: 100%;
  background: linear-gradient(250.59deg,#322c38 0%,#514e61 28.53%, #1c2137 75.52%);

}