.table-searchls {
  border-radius: 10px;
  padding: 0px 30px;
  border: 2px solid #888;
  margin: 28px 20px;
  background: linear-gradient(35deg, #898892, #514e61);
  color: #050f5b;
  letter-spacing: 2px;
  

}

.table-searchls .searchls-nhap {
  width: 400px;
  padding: 7px 20px;
  border-radius: 10px;
  outline: none;
  background: transparent;
  border: 2px solid #cbcaca;
  color: #fff;
  transition: .5s;

}

.table-searchls .search-check {
  width: 40px;
  height: 18px;
  border: none;
}

.table-searchls label {
  color: #fff;

  font-weight: 500;
}

.table-searchls .searchls-nhap:focus {
  transition: 0.5s;
  border: 2px solid #cbcaca;
  color: #fff;
  background: transparent;
  outline: none;
  padding-left: 30px;
  font-weight: 500;
  padding-left: 20px;
  transform: translateX(10px);
  width: 500px;
}

.table-searchls .searchls-nhap::placeholder {
  color: #fff;

  font-weight: 500;
}

.table-searchls.select::after {
  cursor: pointer;
  background: transparent;
}

.table-searchls button {
  padding: 10px 20px;
  margin: 20px 30px;
  border-radius: 10px;
}

.table-searchls .luu {
  background: linear-gradient(35deg, #25a686, #06e777);
  font-weight: 500;
  margin-right: 50px;
  transition: .5s;

  color: #fff;
}

.table-searchls .luu:hover {
  background: linear-gradient(35deg, #1cd5a7, #03e740);

  color: #000;
  font-family: 700;
  transition: .5s;
  padding: 10px 40px;
}

.table-searchls .reset {
  background: linear-gradient(35deg, #e11b1b, #d50c8f);
  font-weight: 500;
  transition: .5s;
  padding: 10px 40px;
  position: absolute;
  color: #fff;
}

.table-searchls .reset:hover{
color: #000;
    background: linear-gradient(35deg, #e70808, #e206f6);
    transition: .5s;
    padding: 10px 50px;
    position: absolute;
}
.for1 .reset:hover {
  color: #000;
    font-family: 700;
    background: linear-gradient(35deg, #e70808, #e206f6);
    transition: .5s;
    padding: 10px 50px;
    position: absolute;
}
.infor-tb2{
  border: 2px solid #cbcaca;

}