.table-search{
   
    background: #f6f4f4;
    padding: 10px 30px;
    margin-left: 230px;
    
    border: 2px solid  #888;
    position: absolute;

}

.table-search_1{
     width: 950px;
    height: 260px;
    font-size: 30px;
    margin-top: 260px;
    margin-left: 230px;
    
    position: absolute;
    background: #f3efef;
  }
  .table-search_1 button{
    font-size: 25px;
    padding: 5px 10px;
    margin: 20px;
  }
  .table-search_1 button:hover{
         cursor: pointer;
         background: #a73e3e;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  tr {
    border-bottom: 2px solid #ddd;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }