.table-cauhinh table,
.table-cauhinh table td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 10px;
  color: #ffff;

}

.table-cauhinh table th {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffff;
}

.form-cauhinh {
  width: 1650px;
  height: 700px;
  background: linear-gradient(35deg, #898892, #514e61);

  display: flex;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 30px;


}



.infor {
  width: 100%;
  margin-right: 20px;
  border: 2px solid #ccc;
  padding: 30px 30px;

}

.infor input {
  width: 600px;
  margin: 10px 0;
  outline: none;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid #ccc;
  transition: .5s;
  color: #fff;

}

.infor input:focus {
  width: 700px;
  margin: 10px 0;
  outline: none;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid #ccc;
  transition: .5s;
  color: #fff;
  padding-left: 30px;
}

.infor label {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}



.table-cauhinh {
  background: linear-gradient(35deg, #898892, #514e61);
  margin-top: 100px;
  margin-left: 10px;
  padding: 30px 0;
  border-radius: 10px;
  border: 2px solid #cbcaca;
width: 100%;

}

.table-cauhinh table td,
.table-cauhinh table th {
  border: 1px solid #e6dbdb;
  border-collapse: collapse;
  font-size: 15px;
  min-width: 215px;


}
.table-cauhinh table{
  font-size: 20px;
}

.form-tao {
  width: 150px;
  height: 50px;
  background: linear-gradient(35deg, #1212d1, #10de32);
  margin: 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  float: right;
  transition: .5s;


}

.form-tao:hover {
  background: linear-gradient(35deg, #9b07e5, #09c2ec);
  transition: .5s;
  color: #feffff;

  padding: 0 20px;
  transform: translateX(-30px);

}

.infor1 {
  width: 750px;
  border: 2px solid #ccc;
}

.infor1 h2 {
  padding: 10px 20px;
  font-size: 20px;
  border-bottom: 1px solid #e6dbdb;
  font-weight: 700;
  color: #0d1d6f;
  letter-spacing: 5px;
}

.infor1 button {
  padding: 10px 20px;
  margin: 20px 30px;
  border-radius: 10px;


}

.infor1 .luu {
  background: linear-gradient(35deg, #25a686, #06e777);
    font-weight: 500;
    transition: .5s;
    position: relative;
    color: #fff;
}

.form-cauhinh .luu:hover {
  background: linear-gradient(35deg, #1cd5a7, #03e740);
  color: #000;
  font-family: 700;
  transition: .5s;
  padding: 10px 40px;
  

}

.infor1 .reset {
  background: linear-gradient(35deg, #e11b1b, #d50c8f);
  font-weight: 500;
  transition: .5s;
  color: #fff;
  padding: 0 30px;
}

.infor1 .reset:hover {
  color: #000;
    font-family: 700;
    background: linear-gradient(35deg, #e70808, #e206f6);
    transition: .5s;
    padding: 10px 50px;
   


}

.infor1 label {
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;

}
.infor1 label:focus {
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;

}

.infor1 input {
  width: 300px;
  margin: 10px 20px;
  outline: none;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid #ccc;
  color: #fff;
  transition: 0.5s;
  

}

.infor1 input:focus {
  transition: 0.5s;
  border: 2px solid #ccc;
  width: 350px;
  color: #fff;
  background: transparent;
  outline: none;
  padding-left: 20px;
}