.table-cauhinh table,
.table-cauhinh table td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 40px;
}

.table-cauhinh table th {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-cauhinh {
  width: 1550px;
  height: 700px;
  background: linear-gradient(35deg, #8290a2, #98a8b9);
  display: flex;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 30px;


}



.infor {
  width: 100%;
  margin-right: 20px;
  border: 2px solid #ccc;
  padding: 30px 30px;

}

.infor input {
  width: 800px;
  margin: 10px 0;
  outline: none;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid #ccc;

}

.infor input:focus {
  transition: 0.5s;
  box-shadow: 0 0 10px 0 rgb(234, 238, 238);
  color: #000;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 20px;
}

.infor label {
  font-size: 20px;
  font-weight: 500;
}

.text-tarea {
  background: transparent;
  height: 300px;
  width: 800px;
  border: 2px solid #ccc;
  outline: none;

}

.text-tarea:focus {
  transition: 0.5s;
  box-shadow: 0 0 10px 0 rgb(234, 238, 238);

  color: #000;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 20px;
}

.table-cauhinh {
  background: linear-gradient(35deg, #8290a2, #98a8b9);
  margin: 30px 20px;
  padding: 30px 30px;
  border-radius: 10px;
  border: 2px solid #cbcaca;

}

.table-cauhinh table td,
.table-cauhinh table th {
  border: 1px solid #e6dbdb;
  border-collapse: collapse;


}

.form-tao {
  width: 150px;
  height: 50px;
  background: linear-gradient(35deg, #1212d1, #10de32);
  margin: 20px;
  border-radius: 10px;
  font-weight: 400;

}

.form-tao:hover {
  background: linear-gradient(35deg, #9b07e5, #09c2ec);

  color: #feffff;
  font-weight: 700;

}

.infor1 {
  width: 620px;
  border: 2px solid #ccc;
}

.infor1 h2 {
  padding: 10px 20px;
  font-size: 20px;
  border-bottom: 1px solid #e6dbdb;
  font-weight: 600;
  color: #0520a4;
}

.infor1 button {
  padding: 10px 20px;
  margin: 20px 30px;
  border-radius: 10px;


}

.infor1 .luu {
  background: linear-gradient(35deg, #21bb95, #07e312);
  font-weight: 500;
}

.infor1 .luu:hover {
  background: linear-gradient(35deg, #0be7b0, #0a31df);
  color: #fff;
  font-family: 700;

}

.infor1 .reset {
  background: linear-gradient(35deg, #e11b1b, #d50c8f);

  font-weight: 500;
}

.infor1 .reset:hover {
  color: #fff;
  font-family: 700;
  background: linear-gradient(35deg, #e70808, #e206f6);


}

.infor1 label {
  margin: 20px;
  font-size: 20px;
  font-weight: 500;

}

.infor1 input {
  width: 350px;
  margin: 10px 20px;
  outline: none;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid #ccc;

}

.infor1 input:focus {
  transition: 0.5s;
  box-shadow: 0 0 10px 0 rgb(234, 238, 238);
  color: #000;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 20px;
}