
 select,
 .search-input {
     margin: 0 20px;
     padding: 5px 15px;
     background: none;
     color: #fff;

 }

 select:hover {
     cursor:
         pointer;
 }

 .timkiem {
     width: 400px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .tim1,
 .tim2 {
     padding: 5px 10px;

     font-weight: 700;
     margin: 10px 10px;
     width: 150px;
     border: none;

 }
 .tim1:hover,
 .tim2:hover {
     opacity: 0.7;
     cursor: pointer;

 }

 .select-form {
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .select-form.form1 {
     margin-top: 90px;
     margin-left: 40px;

 }

 
 .table-user button {
    padding: 10px 20px;
    margin: 20px 30px;
    border-radius: 10px;
  
  
  }
  
  .table-user .luu {
    background: linear-gradient(35deg, #25a686, #06e777);
    font-weight: 500;
    margin-right: 50px;
    transition: .5s;
    position: relative;
    color: #fff;

  }
  
  .table-user .luu:hover {
    background: linear-gradient(35deg, #1cd5a7, #03e740);

    color: #000;
    font-family: 700;
    transition: .5s;
    padding: 10px 40px;
    position: relative;

  }
  
  .table-user .reset {
    background: linear-gradient(35deg, #e11b1b, #d50c8f);
    font-weight: 500;
    transition: .5s;
    position: absolute;
    color: #fff;

  }
  
  .table-user .reset:hover {
    color: #000;
    font-family: 700;
    background: linear-gradient(35deg, #e70808, #e206f6);
    transition: .5s;
    padding: 10px 50px;
    position: absolute;
  
  }
  
  .table-user input::placeholder {
    color: #fff;

    font-weight: 500;
  }
  .table-user input {
    color: #fff;

    font-weight: 500;
  }
  .table-user {
    border-radius: 10px;
    padding: 0px 30px;
    margin-left: 20px;
    margin-top: 30px;
    border: 2px solid #888;
    background: linear-gradient(35deg, #898892, #514e61);
  
  }
  
  
  
  .table-user .user-ht{
    width: 300px;
    padding: 7px 20px;
    border-radius: 10px;
    outline: none;
    margin: 30px 0;
    background: transparent;
    border: 2px solid #cbcaca;
    color: #ffff;
    transition: .5s;
  
  
  
  }
  .table-user .user-ht:focus {
    transition: 0.5s;
    border: 2px solid #cbcaca;

    color: #ffffff;
    background: transparent;
   
    outline: none;
    padding-left: 30px;
    font-weight: 500;
    width: 350px;
  transform: translateX(-5px);
  margin-left: 5px;
  }
  .table-user .user-ht::placeholder{
    color: #ffffff;
    margin-bottom: 20px;

  }