 .bangdiekhien h3 {
     font-size: 30px;

     margin-top: 10px;
 }

 h4 {
     margin-left: 0px;
     padding-bottom: 20px;

 }



 .search-form {
     margin-top: -70px;

 }

 .bangdiekhien .form {
     background: linear-gradient(35deg, #c9d8eb, #feffff);
     width: 400px;
     height: 500px;
     border: 2px solid #535151;

     padding: 30px 10px;
     margin-top: 80px;


 }

 .search {
     width: 900px;
     height: 200px;
     border: 2px solid #595555;
    
     left: 10px;
     padding-top: 20px;

 }

 select,
 .search-input {
     margin: 0 20px;
     padding: 5px 15px;
     background: none;
     color: #000;

 }

 select:hover {
     cursor:
         pointer;
 }

 .timkiem {
     width: 400px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .tim1,
 .tim2 {
     padding: 5px 10px;

     font-weight: 700;
     margin: 10px 10px;
     width: 150px;
     border: none;

 }

 .tim1 {

 }

 .tim2 {

 }

 .tim1:hover,
 .tim2:hover {
     opacity: 0.7;
     cursor: pointer;

 }

 .select-form {
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .select-form.form1 {
     margin-top: 90px;
     margin-left: 40px;

 }

 .search1 {
     width: 700px;
     margin: 80px;
     display: flex;
     margin-left: -510px;



 }